# Configuración GCP Firestore
GOOGLE_APPLICATION_CREDENTIALS="credentials.json"


# Credenciales Mediación Chile (Segunda Clave)
MEDIACION_RUN="12345678-9"
MEDIACION_PASSWORD="tu_segunda_clave"

# Alternativa opcional: Cookie de sesión si ingresas con ClaveÚnica
# MEDIACION_COOKIE="valor_de_ASP.NET_SessionId"

# Notificaciones Discord
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/XXXXXX/YYYYYY"
